body {
    background-color: rgb(50, 36, 59)  
    /* background-repeat: repeat;
    background-size: auto; */
  
}
h1 {
    color: rgb(238, 20, 20);
    font: 'Calibri';
    font-size: 72px;
    font-weight: bold;
    /* text-decoration: ; */
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    }

.container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card {
    background-color: rgb(241, 231, 169);
    border-radius: 20px;
    box-shadow: 0 0 45px #f70067;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    max-width: 400px;
}

.card a:link{
    color: rgb(231, 9, 9);
}
.card a:visited{
    color: rgb(141, 17, 17);
}

.card__pic {
    width: 300px;
  height: 300px;
  margin-bottom: 0px;
}

.card__username {
    display: flex;
    justify-content: center;
    color: rgb(12, 14, 11);
    font: 'Copperplate';
    font-variant: small-caps;
    font-weight: bold;
    font-size: 62px;
    /* margin-bottom: 30px;
    margin-top: -25px; */
}

.card__followers {
    font: 'Calibri';
    font-size: 40px;
    margin: 0px;
}

.card__following {
    font: 'Calibri';
    font-size: 40px;
    margin: 0px;
}

.card__link{
   
    color: rgb(199, 18, 18);
    font: 'Monaco';
    font-size: 50px;
    margin-top: 20px;
}
